/AnagramDetection.class
/BinaryConversion.class
/BinarySearch.class
/BinarySearchStr.class
/BinarySearchStrs.class
/BubbleSort.class
/BubbleSortStr.class
/DayOfWeek.class
/InsertionSort.class
/InsertionSortStr.class
/InsertionSortStrs.class
/MonthlyPayment.class
/NumberGuess.class
/PalindromePrime.class
/PrimeNumbers.class
/SquareRoot.class
/SwapNibbles.class
/TemperatureConversion.class
/VendingMachine.class
/Conversion.class
/MergeSort.class
